*[data-element-type],
*[data-element-type='dropdown'] > * {
  /* treat padding as part of width */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*[data-element-type='button'],
*[data-element-type='container'],
*[data-element-type='section'] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

*[data-element-type='text'],
*[data-element-type='link'],
*[data-element-type='button'],
*[data-element-type='input'] {
  font-family: arial;
}

/* CONTAINER */

*[data-element-type='container'] {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

*[data-element-type='container'] > *:last-child {
  margin-right: '0 !important';
}

*[data-element-type='container'] > * {
  max-width: 100%;
}

/* SECTION */

*[data-element-type='section'] {
  display: flex;
}

*[data-element-type='section'] > * {
  position: static;
  margin: 0 auto;
  width: 100% !important;
}

/* INPUT */

*[data-element-type='input'] {
  outline: 0;
  padding: 0;
  margin: 0;
  /* removes unwanted inner shadow on mobile */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IMAGE */

*[data-element-type='image'] {
  line-height: 0 !important;
  overflow: hidden;
}

*[data-element-type='image'] > * {
  max-width: 100%;
}

/* TEXT */

*[data-element-type='text'] {
  height: auto;
  word-break: break-word;
  margin: unset;
}

/* BUTTON */

*[data-element-type='button'] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border: unset;
}

.clickable {
  cursor: pointer;
}

/* DROPDOWN */

*[data-element-type='dropdown'] {
  display: none;
  position: absolute;
}

*[data-element-type='dropdown'] > * {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

/* LINK */

*[data-element-type='link'] {
  text-decoration: none;
  cursor: pointer;
}

*[data-element-type='text'] *[data-element-type='link'] {
  font-family: inherit;
}

*[data-element-type='dropdown'] *[data-element-type='link'] {
  display: block;
}

*[data-element-type='button'],
*[data-element-type='button']:visited,
*[data-element-type='button']:hover,
*[data-element-type='button']:active,
*[data-element-type='link'],
*[data-element-type='link']:visited,
*[data-element-type='link']:hover,
*[data-element-type='link']:active {
  color: inherit;
}

*[data-element-type='button'] {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#content-container {
  width: 100%;
}

/* FORM */

*[data-element-behavior='form'].submitted-form > * {
  position: relative;
}

*[data-element-behavior='form'].submitted-form > form > * {
  visibility: hidden;
  pointer-events: none;
}

*[data-element-behavior='form'].submitted-form > form::after {
  position: absolute;
  top: 0;
  left: 0;
  content: 'Sent';
  font-weight: 500;
  background-color: white;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#button-id-3- { min-height: 27px; margin: unset; color: rgb(255, 255, 255); font-size: 18px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-weight: 700; letter-spacing: 0px; line-height: 20.4px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#button-id-3-:active, #button-id-3-.active { color: rgb(0, 0, 0); }

#button-id-3-:hover, #button-id-3-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-60- { min-height: 27px; margin: unset; color: rgb(255, 255, 255); font-size: 18px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-weight: 700; letter-spacing: 0px; line-height: 20.4px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#button-id-60-:active, #button-id-60-.active { color: rgb(0, 0, 0); }

#button-id-60-:hover, #button-id-60-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-68- { min-height: 27px; margin: unset; color: rgb(255, 255, 255); font-size: 18px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-weight: 700; letter-spacing: 0px; line-height: 20.4px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#button-id-68-:active, #button-id-68-.active { color: rgb(0, 0, 0); }

#button-id-68-:hover, #button-id-68-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-72- { min-height: 27px; margin: unset; color: rgb(255, 255, 255); font-size: 18px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-weight: 700; letter-spacing: 0px; line-height: 20.4px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#button-id-72-:active, #button-id-72-.active { color: rgb(0, 0, 0); }

#button-id-72-:hover, #button-id-72-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-9- { min-height: 27px; margin: unset; color: rgb(255, 255, 255); font-size: 18px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); width: auto; font-weight: 700; letter-spacing: 0px; line-height: 20.4px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

#button-id-9-:active, #button-id-9-.active { color: rgb(0, 0, 0); }

#button-id-9-:hover, #button-id-9-.hover { color: rgba(0, 0, 0, 0.5); }

#container-id-10- { min-height: 100px; margin: unset; background-color: rgba(238, 238, 238, 0); align-items: flex-start; padding: 0px 80px; justify-content: space-between; width: 100%; flex-direction: row; }

#container-id-10- > * { max-width: 100%; }

#container-id-21- { min-height: auto; margin: unset; background-color: rgba(238, 238, 238, 0); left: 0px; width: auto; flex-direction: row; }

#container-id-21- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-21- > :last-child, #container-id-21- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-5- { margin: unset;
  width: 100%; justify-content: center; align-items: center; min-height: 100vh; flex-direction: column; background-color: rgb(213, 75, 53); }

#container-id-5- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-5- > :last-child, #container-id-5- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-6- { min-height: 106px; margin: unset; background-color: rgba(238, 238, 238, 0); width: 100%; align-items: center; left: 0px; justify-content: center; padding: 80px; flex-direction: column; }

#container-id-6- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 12px !important; }

#container-id-6- > :last-child, #container-id-6- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-8- { min-height: 80px; margin: unset; background-color: rgba(238, 238, 238, 0); left: 0px; align-items: flex-end; padding: 0px 80px; justify-content: center; width: 100%; flex-direction: row; }

#container-id-8- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-8- > :last-child, #container-id-8- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container { align-items: flex-start; justify-content: flex-start; flex-direction: column; }

#content-container > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#root-container { background-position: center center; background-color: rgb(255, 255, 255); }

#text-id-0- { margin: unset; background-color: rgba(0, 0, 0, 0); letter-spacing: -2px; line-height: 135px; font-size: 120px; font-weight: 800; text-align: center; font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(255, 255, 255); left: 0px; width: auto; }

#text-id-2- { margin: unset; background-color: rgba(0, 0, 0, 0); width: auto; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; letter-spacing: 0px; line-height: 22.5px; font-size: 20px; font-weight: 600; color: rgb(255, 255, 255); }

[data-item-of="button-id-10-popover"] { font-size: 15px; background-color: rgba(255, 255, 255, 0); padding: 8px 16px; }

[data-item-of="button-id-10-popover"]:active, [data-item-of="button-id-10-popover"].active { background-color: rgba(255, 255, 255, 0); }

[data-item-of="button-id-10-popover"]:hover, [data-item-of="button-id-10-popover"].hover { background-color: rgba(0, 0, 0, 0.1); }

@media (min-width:1025px) {#container-id-10- { flex-grow: 0 !important; }

#container-id-5- > * { flex-grow: 1; }

#container-id-8- { flex-grow: 0 !important; }

#content-container { display: flex; }}

@media (min-width:641px) and (max-width:1024px) {#container-id-10- { align-items: center; justify-content: flex-start; min-height: 168px; flex-direction: column; flex-grow: 0 !important; }

#container-id-10- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-10- > :last-child, #container-id-10- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-21- { justify-content: center; left: 0px; flex-direction: row; }

#container-id-21- > * { max-width: 100%; }

#container-id-5- { flex-direction: column; }

#container-id-5- > * { flex-grow: 1; max-width: 100%; }

#container-id-6- { padding: 40px; flex-direction: column; }

#container-id-6- > * { max-width: 100%; }

#container-id-8- { flex-direction: row; flex-grow: 0 !important; }

#container-id-8- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-8- > :last-child, #container-id-8- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container { align-items: flex-start; justify-content: flex-start; flex-direction: column; display: flex; }

#content-container > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#text-id-0- { letter-spacing: -1.33333px; line-height: 90px; font-size: 80px; left: 0px; }}

@media (max-width:640px) {#button-id-3- { letter-spacing: 0px; line-height: 18.1333px; font-size: 16px; }

#button-id-60- { letter-spacing: 0px; line-height: 18.1333px; font-size: 16px; }

#button-id-68- { letter-spacing: 0px; line-height: 18.1333px; font-size: 16px; }

#button-id-72- { letter-spacing: 0px; line-height: 18.1333px; font-size: 16px; }

#button-id-9- { letter-spacing: 0px; line-height: 18.1333px; font-size: 16px; }

#container-id-10- { align-items: center; justify-content: center; padding: 0px 24px; min-height: auto; flex-direction: column; flex-grow: 0 !important; }

#container-id-10- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-10- > :last-child, #container-id-10- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-21- { justify-content: center; width: 100%; left: 0px; flex-direction: row; }

#container-id-21- > * { max-width: 100%; }

#container-id-5- { height: unset; padding: 40px 0px; min-height: 100vh; flex-direction: column; }

#container-id-5- > * { flex-grow: 1; max-width: 100%; margin-right: 0px !important; margin-bottom: 80px !important; }

#container-id-5- > :last-child, #container-id-5- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-6- { padding: 24px; flex-direction: column; }

#container-id-6- > * { max-width: 100%; }

#container-id-8- { min-height: auto; flex-direction: row; flex-grow: 0 !important; }

#container-id-8- > * { max-width: 100%; }

#content-container { align-items: flex-start; justify-content: flex-start; flex-direction: column; display: flex; }

#content-container > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#text-id-0- { letter-spacing: -0.733333px; line-height: 49.5px; font-size: 44px; left: 0px; width: 243px; }}